@import "../../variables/_global.scss";

.App{
    position: relative;
    height: $full;
    display: flex;
    flex-direction: column;
    & .header{
        height: auto;
    }
    & .footer{
        
    }
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-radius: 5px;
}

::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb
{
    background-color: rgba($color1,0.5);
    border-radius: 5px;
}
