@import "../../variables/_global.scss";

.App{
    position: relative;
    height: $full;
    display: flex;
    flex-direction: column;
    & .header{
        height: auto;
    }
    & .footer{
        
    }
}