@import "../../variables/_global.scss";

.App{
    position: relative;
    height: $full;
    display: flex;
    flex-direction: column;
    & .sort-mode-select-bar{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        margin: 10px;
        background-color: $white;
        padding: 5px;
        border-radius: 10px;
        & .sort-buttons{
            height: 100%;
        }
        & .button{
            height: 100%;
            font-size: 1.2em;
            font-weight: bold;
        }
        & .button--selected{
            background-color: rgba($color1,1);
            border: solid black 4px;
        }
    }
    & .header{
        position: relative;
        & img{
            position: relative;
            top: 10px;
            margin: 0px 10px 0px 10px;
            width: 75px;
        }
        font-size: 5em;
        font-weight: bold;
        text-align: center;
    }
    & .footer{
        text-align: center;
    }
}


