@import "../../variables/_global.scss";

.card {
    flex: 1 1 auto;
    margin: 10px;
    display: flex;
    flex-flow: column nowrap;
    width: 275px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba($color1,.9);
    position: relative;
    &__ranking{    
        position: absolute;
        top: -5px;
        left: -5px;
        border-radius: 50%;
        text-align: center;
        width: 40px;
        height: 40px;
        font-size: 32px;
        font-weight: 700;
        color: $color1;
        background-color: $black;
    }
    &__avatar{
        &:hover{
            cursor:pointer;
            & .card__avatar--overlay{
                opacity: 1;
            }
            & .card__avatar--image{
                opacity: 0.7;
                filter: blur(4px);
                -webkit-filter: blur(4px);
            }
        }
        &--image{
            border-radius: 10%;
            width: 150px;
            height: 150px;
        }
        &--overlay{
            font-size: 25px;
            font-weight: bold;
            transition: .5s ease-in-out;
            opacity: 0;
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            text-align: center;
            & img{
                width: 60px;
            }
        }
        margin-top: 5px;
        align-self: center;
        border-radius: 10%;
    }
    &__info{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        flex-grow:1;
        display: flex;
        text-align: center;
        flex-direction: column;
        &__username {
            font-size: calc(24px + 0.3vw);
        }
        &__stats{
            margin-top: 5px;
            background-color: rgba(white,.85);
            padding: 10px;
            font-size: 1.2em;
            border-radius: 10px;
            & div{
                clear: both;
            }
            & .slabel{
                float: left;
            }
            & .sval{
                font-weight: bold;
                float: right;
            }
        }
    }
}