@import "../../variables/_global.scss";

.card {
    flex: 1 1 auto;
    margin: 10px;
    display: flex;
    flex-flow: column nowrap;
    width: 275px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba($color1,0.4);
    //&:nth-child(even){
    //    background-color: rgba($color1,.4);
    //}
    box-shadow: 2px 2px 4px #858585;
    position: relative;
    &__ranking{    
        position: absolute;
        top: -10px;
        left: -10px;
        border-radius: 50%;
        text-align: center;
        width: 40px;
        height: 40px;
        font-size: 32px;
        font-weight: 700;
        background-color: $color1;
    }
    &__avatar{
        &:hover{
            cursor:pointer;
            & .card__avatar--overlay{
                opacity: 1;
            }
            & .card__avatar--image{
                opacity: 0.7;
                filter: blur(4px);
                -webkit-filter: blur(4px);
            }
        }
        &--image{
            border-radius: 10%;
            width: 150px;
            height: 150px;
        }
        &--overlay{
            font-size: 25px;
            font-weight: bold;
            transition: .5s ease-in-out;
            opacity: 0;
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            text-align: center;
            & img{
                width: 60px;
            }
        }
        align-self: center;
        border-radius: 10%;
    }
    &__info{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        flex-grow:1;
        display: flex;
        flex-direction: column;
        &__username{
            align-self: center;
            font-size: calc(24px + 0.3vw);
        }
        &__stats{
            margin-top: 5px;
            background-color: rgba(white,0.5);
            border: 1px solid $color1;
            padding: 10px;
            font-size: 1.3em;
            border-radius: 10px;
            font-weight: bolder;
            & span{
                font-weight: normal;
                text-align: right;
            }
        }
    }
}