@import "../../variables/_global.scss";

.container{
    background-color: white;

    position: relative;

    flex: 1 1 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    overflow-y: auto;
    min-height: 0px;
}