@import "../../variables/_global.scss";

.slider{
    position: fixed; /* Sit on top of the page content */
    opacity: 0;
    width: 90%; /* Full width (cover the whole page) */
    height: 90%; /* Full height (cover the whole page) */
    top: 5vh;
    left: 5vw;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.85); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    pointer-events:none;
    transition: opacity 1s ease-out;
    color: $white;
    padding: 10px;
    &__body{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        height: 100%;
    }
    &--active{
        opacity: 1;
        pointer-events:auto;
    }
    &__title{
        text-align: center;
    }
    &__close{
        cursor: pointer;
        width: 25px;
        position: absolute;
        right: 10px;
        top:10px;
    }
}

